In [9]:
import pandas as pd

In [10]:
rule_data = pd.read_csv('./results/birdrules.txt.names.csv')

In [11]:
numerical_cols = set(rule_data.columns) - set(['Rule'])
for col in numerical_cols:
    rule_data[col] = rule_data[col].apply(lambda x: float(x.split('=')[-1]))

In [17]:
pd.set_option('display.max_rows', None)  # Show all rows

# Extract positively interesting rules
# - Positively associated: leverage > 0 and lift > 1

interesting_rules = rule_data[
    (rule_data['Leverage'] > 0)
    & (rule_data['Lift'] > 1)
]

adolescents = rule_data['Rule'].apply(lambda x: x.split('->')[0].strip().split())
interesting_rules.insert(1, 'Adolescent', adolescents)

consequences = rule_data['Rule'].apply(lambda x: x.split('->')[1].split('fr')[0].strip().split())
interesting_rules.insert(2, 'Consequence', consequences)

# Sorted by the Goodness Measurement column (assuming that it is the last column)
print("Top interesting rules")
interesting_rules.sort_values(by=rule_data.columns[-1], ascending=False).head(30)

Top interesting rules

,Rule,Adolescent,Consequence,Confidence,Lift,Leverage,MI
0,dif-gender eat_plants -> anatinae fr=7 (0.1400),"[dif-gender, eat_plants]",[anatinae],1.000,7.143,0.120,0.5842
2,webbed-feet ccare_F -> anatinae fr=7 (0.1400),"[webbed-feet, ccare_F]",[anatinae],1.000,7.143,0.120,0.5842
1,webbed-feet dif-gender -> anatinae fr=7 (0.1400),"[webbed-feet, dif-gender]",[anatinae],1.000,7.143,0.120,0.5842
3,accipitridae -> ftype_A fr=8 (0.1600),[accipitridae],[ftype_A],1.000,5.556,0.131,0.5437
4,ftype_C incub_F -> ccare_F fr=11 (0.2200),"[ftype_C, incub_F]",[ccare_F],0.846,3.526,0.158,0.5014
5,dif-gender ccare_F -> anatinae fr=7 (0.1400),"[dif-gender, ccare_F]",[anatinae],0.875,6.250,0.118,0.4973
6,dif-gender ftype_C -> anatinae fr=7 (0.1400),"[dif-gender, ftype_C]",[anatinae],0.875,6.250,0.118,0.4973
7,ccare_F eat_plants -> anatinae fr=7 (0.1400),"[ccare_F, eat_plants]",[anatinae],0.875,6.250,0.118,0.4973
8,webbed-feet eat_plants -> anatinae fr=7 (0.1400),"[webbed-feet, eat_plants]",[anatinae],0.875,6.250,0.118,0.4973
9,plunge-dives ftype_B -> lari fr=5 (0.1000),"[plunge-dives, ftype_B]",[lari],1.000,10.000,0.090,0.4690
10,webbed-feet plunge-dives -> lari fr=5 (0.1000),"[webbed-feet, plunge-dives]",[lari],1.000,10.000,0.090,0.4690
11,webbed-feet ftype_B -> lari fr=5 (0.1000),"[webbed-feet, ftype_B]",[lari],1.000,10.000,0.090,0.4690
12,wading-bird ftype_C -> charadrii fr=12 (0.2400),"[wading-bird, ftype_C]",[charadrii],0.667,2.778,0.154,0.4645
13,ccare_F -> incub_F fr=12 (0.2400),[ccare_F],[incub_F],1.000,2.778,0.154,0.4645
15,incub_F eat_plants -> anatinae fr=7 (0.1400),"[incub_F, eat_plants]",[anatinae],0.778,5.556,0.115,0.4467
16,webbed-feet incub_F -> anatinae fr=7 (0.1400),"[webbed-feet, incub_F]",[anatinae],0.778,5.556,0.115,0.4467
14,eat_fish ftype_C -> diver fr=7 (0.1400),"[eat_fish, ftype_C]",[diver],1.000,5.556,0.115,0.4467
18,webbed-feet too-many-eggs -> anatinae fr=6 (0....,"[webbed-feet, too-many-eggs]",[anatinae],1.000,7.143,0.103,0.4465
17,dif-gender too-many-eggs -> anatinae fr=6 (0.1...,"[dif-gender, too-many-eggs]",[anatinae],1.000,7.143,0.103,0.4465
19,dif-gender ftype_C -> ccare_F fr=8 (0.1600),"[dif-gender, ftype_C]",[ccare_F],1.000,4.167,0.122,0.4139
20,anatinae -> dif-gender fr=7 (0.1400),[anatinae],[dif-gender],1.000,5.000,0.112,0.4080
21,webbed-feet ccare_F -> dif-gender fr=7 (0.1400),"[webbed-feet, ccare_F]",[dif-gender],1.000,5.000,0.112,0.4080
22,eat_frogs -> eat_small-rodents fr=8 (0.1600),[eat_frogs],[eat_small-rodents],0.889,4.444,0.124,0.4008
23,lari -> plunge-dives fr=5 (0.1000),[lari],[plunge-dives],1.000,8.333,0.088,0.3910
24,webbed-feet ftype_B -> plunge-dives fr=5 (0.1000),"[webbed-feet, ftype_B]",[plunge-dives],1.000,8.333,0.088,0.3910
25,ftype_B incub_both -> lari fr=5 (0.1000),"[ftype_B, incub_both]",[lari],0.833,8.333,0.088,0.3910
26,ftype_B ccare_both -> lari fr=5 (0.1000),"[ftype_B, ccare_both]",[lari],0.833,8.333,0.088,0.3910
27,charadrii -> wading-bird fr=12 (0.2400),[charadrii],[wading-bird],1.000,2.381,0.139,0.3812
28,ftype_C ccare_F -> anatinae fr=7 (0.1400),"[ftype_C, ccare_F]",[anatinae],0.636,4.545,0.109,0.3762
29,sim-gender ccare_both -> incub_both fr=28 (0.5...,"[sim-gender, ccare_both]",[incub_both],0.875,1.411,0.163,0.3762

In [18]:

interesting_rules.sort_values(by=rule_data.columns[-3], ascending=False).head(30)

,Rule,Adolescent,Consequence,Confidence,Lift,Leverage,MI
11,webbed-feet ftype_B -> lari fr=5 (0.1000),"[webbed-feet, ftype_B]",[lari],1.000,10.000,0.090,0.4690
9,plunge-dives ftype_B -> lari fr=5 (0.1000),"[plunge-dives, ftype_B]",[lari],1.000,10.000,0.090,0.4690
10,webbed-feet plunge-dives -> lari fr=5 (0.1000),"[webbed-feet, plunge-dives]",[lari],1.000,10.000,0.090,0.4690
25,ftype_B incub_both -> lari fr=5 (0.1000),"[ftype_B, incub_both]",[lari],0.833,8.333,0.088,0.3910
26,ftype_B ccare_both -> lari fr=5 (0.1000),"[ftype_B, ccare_both]",[lari],0.833,8.333,0.088,0.3910
23,lari -> plunge-dives fr=5 (0.1000),[lari],[plunge-dives],1.000,8.333,0.088,0.3910
24,webbed-feet ftype_B -> plunge-dives fr=5 (0.1000),"[webbed-feet, ftype_B]",[plunge-dives],1.000,8.333,0.088,0.3910
43,live_lakes incub_F -> anatinae fr=5 (0.1000),"[live_lakes, incub_F]",[anatinae],1.000,7.143,0.086,0.3482
42,webbed-feet plunge-dives -> ftype_B fr=5 (0.1000),"[webbed-feet, plunge-dives]",[ftype_B],1.000,7.143,0.086,0.3482
41,lari -> ftype_B fr=5 (0.1000),[lari],[ftype_B],1.000,7.143,0.086,0.3482
1,webbed-feet dif-gender -> anatinae fr=7 (0.1400),"[webbed-feet, dif-gender]",[anatinae],1.000,7.143,0.120,0.5842
17,dif-gender too-many-eggs -> anatinae fr=6 (0.1...,"[dif-gender, too-many-eggs]",[anatinae],1.000,7.143,0.103,0.4465
18,webbed-feet too-many-eggs -> anatinae fr=6 (0....,"[webbed-feet, too-many-eggs]",[anatinae],1.000,7.143,0.103,0.4465
2,webbed-feet ccare_F -> anatinae fr=7 (0.1400),"[webbed-feet, ccare_F]",[anatinae],1.000,7.143,0.120,0.5842
0,dif-gender eat_plants -> anatinae fr=7 (0.1400),"[dif-gender, eat_plants]",[anatinae],1.000,7.143,0.120,0.5842
57,ftype_B incub_both -> plunge-dives fr=5 (0.1000),"[ftype_B, incub_both]",[plunge-dives],0.833,6.944,0.086,0.3136
58,ftype_B ccare_both -> plunge-dives fr=5 (0.1000),"[ftype_B, ccare_both]",[plunge-dives],0.833,6.944,0.086,0.3136
7,ccare_F eat_plants -> anatinae fr=7 (0.1400),"[ccare_F, eat_plants]",[anatinae],0.875,6.250,0.118,0.4973
8,webbed-feet eat_plants -> anatinae fr=7 (0.1400),"[webbed-feet, eat_plants]",[anatinae],0.875,6.250,0.118,0.4973
6,dif-gender ftype_C -> anatinae fr=7 (0.1400),"[dif-gender, ftype_C]",[anatinae],0.875,6.250,0.118,0.4973
5,dif-gender ccare_F -> anatinae fr=7 (0.1400),"[dif-gender, ccare_F]",[anatinae],0.875,6.250,0.118,0.4973
32,incub_F too-many-eggs -> anatinae fr=6 (0.1200),"[incub_F, too-many-eggs]",[anatinae],0.857,6.122,0.100,0.3644
31,ccare_F too-many-eggs -> anatinae fr=6 (0.1200),"[ccare_F, too-many-eggs]",[anatinae],0.857,6.122,0.100,0.3644
14,eat_fish ftype_C -> diver fr=7 (0.1400),"[eat_fish, ftype_C]",[diver],1.000,5.556,0.115,0.4467
3,accipitridae -> ftype_A fr=8 (0.1600),[accipitridae],[ftype_A],1.000,5.556,0.131,0.5437
16,webbed-feet incub_F -> anatinae fr=7 (0.1400),"[webbed-feet, incub_F]",[anatinae],0.778,5.556,0.115,0.4467
15,incub_F eat_plants -> anatinae fr=7 (0.1400),"[incub_F, eat_plants]",[anatinae],0.778,5.556,0.115,0.4467
33,live_lakes webbed-feet incub_both ftype_C -> d...,"[live_lakes, webbed-feet, incub_both, ftype_C]",[diver],1.000,5.556,0.098,0.3641
34,live_lakes webbed-feet ccare_both ftype_C -> d...,"[live_lakes, webbed-feet, ccare_both, ftype_C]",[diver],1.000,5.556,0.098,0.3641
35,live_lakes webbed-feet sim-gender ftype_C -> d...,"[live_lakes, webbed-feet, sim-gender, ftype_C]",[diver],1.000,5.556,0.098,0.3641