In [1]:
import pandas as pd

In [2]:
rule_data = pd.read_csv('./results/birdrules.txt.names.csv')

In [3]:
numerical_cols = set(rule_data.columns) - set(['Rule'])
for col in numerical_cols:
    rule_data[col] = rule_data[col].apply(lambda x: float(x.split('=')[-1]))

In [4]:
# Extract positively interesting rules
# - Positively associated: leverage > 0 and lift > 1

interesting_rules = rule_data[
    (rule_data['Leverage'] > 0)
    & (rule_data['Lift'] > 1)
]

adolescents = rule_data['Rule'].apply(lambda x: x.split('->')[0].strip().split())
interesting_rules.insert(1, 'Adolescent', adolescents)

consequences = rule_data['Rule'].apply(lambda x: x.split('->')[1].split('fr')[0].strip().split())
interesting_rules.insert(2, 'Consequence', consequences)

# Sorted by the Goodness Measurement column (assuming that it is the last column)
print("Top interesting rules")
interesting_rules.sort_values(by=rule_data.columns[-1], ascending=False)

Top interesting rules

,Rule,Adolescent,Consequence,Confidence,Lift,Leverage,MI
0,dif-gender eat_plants -> anatinae fr=7 (0.1400),"[dif-gender, eat_plants]",[anatinae],1.000,7.143,0.120,0.5842
2,webbed-feet ccare_F -> anatinae fr=7 (0.1400),"[webbed-feet, ccare_F]",[anatinae],1.000,7.143,0.120,0.5842
1,webbed-feet dif-gender -> anatinae fr=7 (0.1400),"[webbed-feet, dif-gender]",[anatinae],1.000,7.143,0.120,0.5842
3,accipitridae -> ftype_A fr=8 (0.1600),[accipitridae],[ftype_A],1.000,5.556,0.131,0.5437
4,ftype_C incub_F -> ccare_F fr=11 (0.2200),"[ftype_C, incub_F]",[ccare_F],0.846,3.526,0.158,0.5014
...,...,...,...,...,...,...,...
57,ftype_B incub_both -> plunge-dives fr=5 (0.1000),"[ftype_B, incub_both]",[plunge-dives],0.833,6.944,0.086,0.3136
58,ftype_B ccare_both -> plunge-dives fr=5 (0.1000),"[ftype_B, ccare_both]",[plunge-dives],0.833,6.944,0.086,0.3136
59,ccare_both eat_small-rodents -> ftype_A fr=7 (...,"[ccare_both, eat_small-rodents]",[ftype_A],0.778,4.321,0.108,0.3119
60,incub_F eat_plants -> too-many-eggs fr=7 (0.1400),"[incub_F, eat_plants]",[too-many-eggs],0.778,4.321,0.108,0.3119
61,ftype_C ccare_F -> dif-gender fr=8 (0.1600),"[ftype_C, ccare_F]",[dif-gender],0.727,3.636,0.116,0.3083