## Solution

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('birds2024ext.csv', delimiter=';')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   species       50 non-null     object
 1   group         50 non-null     object
 2   length        50 non-null     object
 3   wspan         50 non-null     object
 4   weight        50 non-null     object
 5   AR            50 non-null     float64
 6   wload         50 non-null     float64
 7   back          50 non-null     object
 8   belly         50 non-null     object
 9   ftype         50 non-null     object
 10  sim           50 non-null     object
 11  billcol       50 non-null     object
 12  legcol        50 non-null     object
 13  arrives       50 non-null     object
 14  leaves        50 non-null     object
 15  eggs          50 non-null     object
 16  incub         50 non-null     object
 17  ccare         50 non-null     object
 18  biotope       50 non-null     object
 19  diet          50 non-null     object
 20  diver         50 non-null     object
 21  long-billed   50 non-null     object
 22  webbed-feet   50 non-null     object
 23  long-legs     50 non-null     object
 24  wading-bird   50 non-null     object
 25  plunge-dives  50 non-null     object
dtypes: float64(2), object(24)
memory usage: 10.3+ KB

In [4]:
data.head(7)

,species,group,length,wspan,weight,AR,wload,back,belly,ftype,...,incub,ccare,biotope,diet,diver,long-billed,webbed-feet,long-legs,wading-bird,plunge-dives
0,naurulokki,laridae,34-38,86-99,200-350,8.13,0.31,light grey,white,B,...,both,both,"lakes,sea-bays","fish,invertebrates,garbage",No,No,Yes,No,No,Yes
1,harmaalokki,laridae,55-65,123-148,800-1300,8.24,0.64,bluish grey,white,B,...,both,both,"lakes,sea-coast,marshland","fish,garbage,chicks,grain",No,No,Yes,No,No,Yes
2,isolokki,laridae,63-68,138-158,1000-1800,8.24,0.66,bluish grey,white,B,...,both,both,"sea-coast, harbours","fish,eggs,chicks,garbage,carrion",No,No,Yes,No,No,Yes
3,kalatiira,sternidae,36-42,70-80,100-145,9.14,0.24,grey,white,B,...,both,both,"lakes,archipelago",fish,No,No,Yes,No,No,Yes
4,lapintiira,sternidae,33-37,66-77,90-130,8.97,0.20,grey,white,B,...,both,both,"archipelago,lakes,marshland",fish,No,No,Yes,No,No,Yes
5,suokukko,scolopacidae,25-26,46-49,90-130,6.73,0.36,dappled brown,white,C,...,F,F,"marshland,wetlands","invertebrates,seeds",No,No,No,Yes,Yes,No
6,taivaanvuohi,scolopacidae,25-27,39-45,90-110,5.91,0.40,dappled brown,white,C,...,F,F,"marshland,coastal-meadows",invertebrates,No,Yes,No,No,Yes,No

In [5]:
def range_to_mid(r: str) -> float:
    '''
    Return the mid value of a numerical range
    '''
    if not isinstance(r, str) or '-' not in r:
        raise TypeError
    lower_bound, upper_bound = list(map(int,r.split('-')))
    return (lower_bound + upper_bound) / 2


def min_max_scaling(d: np.ndarray) -> np.ndarray:
    min_val = d.min()
    max_val = d.max()
    return (d-min_val) / (max_val - min_val)

def l2_dist(a, b) -> np.ndarray:
    return np.sqrt(np.sum((a - b)**2))